* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    background-color: #fee2e2;
    color: #9ca3af;
}

h1, h2, h3 {
    color: #94a3b8;
}
